.menu-item {
    margin-left: 10px;
    color: white;
}

.menu-item span {
    margin-left: 20px;
}

.project-name {
    padding: 25px;
    text-transform: uppercase;
    border-bottom: 0.5px solid #41545f;
}
.project-name a {
    text-decoration: none !important;
    color: #8ed4ff !important;
}

.v-navigation-drawer__content {
    background-color: #293742;
}

.v-list-item--active {
    background: #137cbd;
}

.sidebar-bottom {
    background: #222c35;
    position: fixed !important;
    bottom: 0 !important;
    width: 100%;
    color: rgb(136, 134, 134);
}

.v-navigation-drawer {
    border-right: 15px !important;
}

.v-list-item-title {
    color: white;
}

.v-list-item__append > .v-icon {
    color: white !important;
}

.multiselect__input {
    background: rgb(247, 247, 247) !important;
}

.multiselect__tags {
    border-bottom: 1px solid #acacac !important;
    border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    background: rgb(247, 247, 247) !important;
    padding: 10px !important;
    border-radius: 0px !important;
}

.multiselect__single {
    background: rgb(247, 247, 247) !important;
}

.multiselect__placeholder {
    font-size: 16px !important;
    padding-left: 5px !important;
}

.text-error {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

.required {
    color: red;
}